.nav-icon:hover {
    filter: brightness(75%);
}
.nav-icon {
    margin-left: .3rem !important;
    margin-right: .3rem !important;
}
.nav-icon-git {
    filter: invert(100%);
    margin-left: .3rem !important;
    margin-right: .3rem !important;
}

.nav-icon-git:hover {
    filter: invert(100%) brightness(75%);
}